/* https://coolors.co/001524-15616d-ffecd1-ff7d00-78290f */

:root {
  /* --stopru-black: red; */
  /* --stopru-black: #232425; */
  --stopru-black: #000;
  /* --stopru-gray: green; */
  --stopru-gray: #504D4D;
  /* --stopru-on-hover: yellow; */
  --stopru-on-hover: #BECAD2;

  --font-family-main: 'Roboto Mono';
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-title: 18px;
}

.height-24px {
  height: 24px;
}

.icon-btn {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  padding: 4px;
  fill: var(--stopru-black);
}

.icon-btn:hover {
  background-color: var(--stopru-on-hover);
  border-radius: 16px;
}

#copy-link-btn {
  cursor: pointer;
}

.description-app {
  word-wrap: break-word;
  white-space: pre-wrap;
  padding-bottom: 15px;
  padding-top: 15px;
}

.motto {
  text-align: center;
}

.donate-btn {
  font-weight: 500;
  font-size: var(--font-size-title);
  background: #F0F5F9;
  border: 1px solid var(--stopru-black);

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.donate-btn:hover {
  background: var(--stopru-on-hover);
}

.donate-btn:active {
  background: #DCE5EB;
}

#donate-btn-down {
  padding-left: 4px;
}

#donate-btn-up {
  padding-left: 4px;
  display: none;
  cursor: pointer;
}

.donate-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px;
}

.donate-option {
}
.donate-option-value {
  font-size: 12px;
  padding-left: 5px;
}

.donate-link {
  text-decoration: none;
}

.donate-link:hover {
  text-decoration: underline;
}

#donate-section ul {
  padding-left: 30px;
}

.beta-version {
  background-color: #DCE5EB;
  border-radius: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: var(--font-size-small);
}

.no-elements {
  padding: 15px;
  text-align: center;
}

.tooltip-icon {
  padding-left: 5px;
  font-size: 12px;
}
.tooltip-icon:hover {
  color: #244584;
}

.tooltip {
  position: relative;
}

.stats-bar-tooltip-text {
  white-space: nowrap;
  pointer-events: none;
  visibility: hidden;
  width: auto;
  /* background-color: #E3EDFD; */
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 5px;

  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

  /* Position the tooltip */
  position: absolute;
  bottom: -30px;
  right: 10px;
  width: auto;
  z-index: 9000;
}

/* old, custom tooltip approach
.tooltip-text {
  pointer-events: none;
  visibility: hidden;
  width: auto;
  background-color: #E3EDFD;
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 10px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  position: absolute;
  width: 220px;
  z-index: 9000;
}

.tooltip-text-left {
  top: -40px;
  right: 20px;
}

.tooltip-text-right {
  top: -40px;
  left: 20px;
} */

.removed-channels-title:hover + .tooltip-text {
  visibility: visible;
}

.removed-videos-title:hover + .tooltip-text {
  visibility: visible;
}

.loading-icon {
  padding-left: calc(50% - 59px);
}

#how-it-works-body {
  display: none;
}

#how-it-works-open {
  cursor:pointer;
}
#how-it-works-close {
  cursor:pointer;
  display: none;
}

.how-it-works-text {
  word-wrap: break-word;
  white-space:pre-wrap;
  padding: 10px;
}

.how-it-works-title {
  font-size: var(--font-size-title);
  padding: 10px;
}

.text-explainer {
  padding-left: 10px;
  padding-bottom: 10px;
  color: var(--stopru-gray);
  font-size: var(--font-size-small);
}

.line-separator {
  background-color: #D9D9D9;
  border-width: 0;
  height: 1px;
}

.action-selector {
  padding-left: 10px;
}

.action-selector input, .action-selector label {
  font-size: var(--font-size-small);
}

input[type=radio] {
  cursor: pointer;
  accent-color: #244584;
}

.roadmap-list {
  padding-left: 10px;
}

.roadmap-item {
  padding-bottom: 5px;
}

.roadmap-item input[type=checkbox] {
  display: none;
}
.roadmap-item .label {
  background: url("images/uncheck_24.png") no-repeat left center;
  background-size: 18px 18px;
  padding-left: 22px;
}
.roadmap-item input[type=checkbox]:checked + .label {
  background-image: url("images/check_24.png");
}

.settings-list {
  padding-left: 10px;
  padding-bottom: 10px;
}

.settings-list input {
  cursor: pointer;
}

.settings-item input, .settings-item label {
  font-size: var(--font-size-small);
}

.settings-item input[type=checkbox] {
  accent-color: #244584;
}

.idea {
  align-items: center;
}
.idea > a {
  height: 18px;
  width: 18px;
}

.stat-section-title {
  margin-bottom: 12px;
}

.stat-value {
  margin-top: 36px;
  margin-bottom: 18px;
  width: 50%;
  text-align: center;
  cursor: default;
}
.stat-bar {
  width: 50%;
  height: 115px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: end;
}
.removed-video-item {
  background-color: #DCE5EB;
  width: auto;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.channel-name {
  color: var(--stopru-gray);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.channel-name:hover {
  text-decoration: underline;
}

.video-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.video-name:hover {
  text-decoration: underline;
}

.datetime, .duration {
  color: var(--stopru-gray);
}

p {
  white-space: pre;
  font-size: 14px;
  margin: 0px;
}

.close-svg {
  position: absolute;
  top: 10.5px;
  right: 10.5px;
  background-color: #F0F5F9;
  padding: 3px;
  border-radius: 13.5px;
  cursor: pointer;
  fill: var(--stopru-black);
}
.close-svg:hover {
  background-color: var(--stopru-on-hover);
}

.close-svg-background {
  position: absolute;
  top: 7.5px;
  right: 7px;
  height: 34px;
  width: 34px;
  border-radius: 17px;
}

.logo {
  font-size: 24px;
  padding-left: 5px;
}

.logo-svg {
  margin-left: -10px;
}

.logos a {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-title {
  font-size: var(--font-size-title);
}

.font-42 {
  font-size: 42px;
}

.font-12 {
  font-size: 12px;
}

.container {
  width: calc(100% - 48px);

  padding: 14px;
  margin: 10px;
  border-radius: 8px;
  background-color: #F0F5F9;
}

.main-container {
  /* min-height: calc(100vh - 40px); */
  width: calc(100% - 20px);
  /* background-color: #E3EDFD; */
  background-color: #8BABDF;
  /* background: linear-gradient(0.5turn, #3f87a6, #ebf8e1, #f69d3c); */
  /* background: linear-gradient(0.5turn, #154BD4, #E9EE2F); */
  /* background: linear-gradient(177.19deg, #154BD5 -17.71%, rgba(233, 238, 47, 0.98875) 117.66%); */
  /* background: linear-gradient(177.19deg, #005EB8 -17.71%, #FFD200 117.66%); */

  display:flex;
  flex-direction: column;
  border-radius: 24px;

  padding: 10px;

  align-items: center;
}

.container-tab-title {
  line-height: 24px;
  text-align: center;
  color: var(--stopru-gray);
}
.container-tab-title:hover {
  color: inherit;
}

.container-tab {
  cursor: pointer;
  width: 50%;
  padding: 8px 0px;
  justify-content: center;
}

.container-tab-active {
  border-bottom: 2px solid #244584;
}
.container-tab-active .container-tab-title {
  color: inherit;
}

.container-tabs-header {
  margin-bottom: 0px;
  border-bottom: 1px solid #D9D9D9;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: calc(100% - 20px);
}

.container-stats {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #D9D9D9;
  border-radius: 0px;
}

#container-removed-videos {
  margin-top: 0px;
  border-radius: 0px 0px 8px 8px;
}

#container-removed-channels {
  margin-top: 0px;
  border-radius: 0px 0px 8px 8px;
  display: none;
}

.space {
  width: 100%;
  margin: 0;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-column {
  display:flex;
  flex-direction: column;
}

.f-row {
  display:flex;
  flex-direction: row;
}
.f-space-between {
  justify-content: space-between;
}

.f-space-around {
  justify-content: space-around;
}

.f-end {
  justify-content: end;
}

.pagination-container {
  margin-top: 14px;
  align-items: center;
}

/* .pagination-btn:enabled:hover {
  background-color: #E5E5E5;
} */

.pagination-btn {
  padding: 0px;
  cursor:pointer;
  border: none;
  background-color: #F0F5F9;
}

.pagination-btn:disabled {
  cursor: not-allowed;
}

.pagination-btn-left {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-btn-right {
  margin-left: 10px;
}

html, body {
  margin: 0px;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
body * {
  color: var(--stopru-black);
  font-family: var(--font-family-main);
  font-size: var(--font-size-normal);
  line-height: 150%;
  letter-spacing: -.02em;
}

#u-photo {
  border-radius: 50%;
  height: 32px;
  margin: 10px; 
}

::-webkit-scrollbar
{
  display: none;
  /* width: 8px;
  background-color: #ffffff00; */
}

::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #ffffff00;
  margin-top: 24px;
  margin-bottom: 24px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #8BABDF;
}

.chart-basement {
  background-color: var(--stopru-gray);
  width: 10px;
  height: 5px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
}

.chart-bar {
  background-color: var(--stopru-black);
  width: 10px;
  height: 0px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: default;
}

.chart-bar:hover {
  box-shadow: 0px 0px 0px 4px var(--stopru-on-hover);
}

.verion-number {
  color: grey;
  position: absolute;
  top: 70px;
  left: 88px;
  font-size: 12px;
}
/* #stat-total-videos {
  width: 50%;
} */

.container-whitelist {
  padding: 10px;
}

.whitelist-channel-logo {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #244584;
  margin-right: 10px;
}

.w-100-percent {
  width: 100%;
}

.button-icon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
}

.whitelist-channel-name {
  color: var(--stopru-gray);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}