ytd-rich-item-renderer [is-dismissed] #dismissible {
    display:contents!important;
}

ytd-rich-item-renderer [is-dismissed] #dismissible ytd-thumbnail {
    display: none;
}

ytd-rich-item-renderer [is-dismissed] {
    display: flex; 
    flex-direction: column-reverse;
}


ytd-compact-video-renderer[is-dismissed] #dismissible {
    display:contents!important;
}

ytd-compact-video-renderer[is-dismissed] #dismissible ytd-thumbnail {
    display: none;
}

ytd-compact-video-renderer[is-dismissed] {
    display: flex;
    flex-direction: row-reverse;
}

ytd-compact-video-renderer div[id=dismissed] {
    width: 150px !important;
    min-width: 150px !important;
    margin-right: 8px;
}

/* for ytk, side panel */
ytk-compact-video-renderer.stopru-video .details {
    background-color: #A9DEFF!important;
}

.stopru-video {
    background-color: #A9DEFF;
    border-radius: 12px;
    box-shadow: 0 0 10px #A9DEFF;
}

.stopru-whitelisted {
    background-color: #FFB852;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 184, 82, 1.0);
}

.stopru-whitelisted ytd-thumbnail:after {
    content: "";
    position: absolute;
    aspect-ratio: 2 / 3;
    height: min(100px, 80%);
    background-image: url("chrome-extension://adjmjjpnbddnlcmcjmlipkbldndkhhaj/images/fire.gif");
    background-size: 100% 100%;
    z-index: 10;
    bottom: -5px;
    left: -20px;
    pointer-events: none;
}

body.stopru-page-search .stopru-video-search {
    /* background-color: #A9DEFF;
    border-radius: 12px; */
    /* background-color: transparent; */
    filter: grayscale(100%);
    opacity: 0.5;
}

body.stopru-comments .stopru-video-comment {
    filter: grayscale(100%);
    opacity: 0.5;
}

.stopru-video-trending {
    filter: grayscale(100%);
    opacity: 0.5;
}

.stopru-on-click ytd-popup-container tp-yt-iron-dropdown {
    display: none;
    position: absolute !important;
}

html[darker-dark-theme][dark] .stopru-video {
    background-color: rgb(25, 64, 128);
    box-shadow: 0 0 10px rgba(25, 64, 128, 1.0);
}

/* html[darker-dark-theme][dark] .stopru-page-search .stopru-video-search {

} */

/* .stopru-video ytd-thumbnail img, .stopru-page-search .stopru-video-search ytd-thumbnail img {
    filter: blur(4px) brightness(60%);
} */

/* .stopru-animation-enabled .stopru-video:after, .stopru-page-search.stopru-animation-enabled .stopru-video-search:after { */
.stopru-animation-enabled .stopru-video:after {
    content: "";
    position: absolute;
    width: 47px;
    height: 40px;
    background-image: url("chrome-extension://adjmjjpnbddnlcmcjmlipkbldndkhhaj/images/b_lazers.gif");
    background-size: 100% 100%;
    top: -40px;
    right: 0px;
    /* z-index: 2001; */
    pointer-events: none;
}

/* .stopru-animation-enabled .stopru-video ytd-thumbnail:after, .stopru-page-search.stopru-animation-enabled .stopru-video-search ytd-thumbnail:after { */
.stopru-animation-enabled .stopru-video ytd-thumbnail:after, .stopru-animation-enabled .stopru-video yt-img-shadow:after {
    content: "";
    position: absolute;
    aspect-ratio: 2 / 3;
    height: min(100px, 80%);
    background-image: url("chrome-extension://adjmjjpnbddnlcmcjmlipkbldndkhhaj/images/fire.gif");
    background-size: 100% 100%;
    z-index: 10;
    bottom: -5px;
    left: -20px;
    pointer-events: none;
  }


@-moz-document url-prefix() {
    .stopru-animation-enabled .stopru-video:after, .stopru-page-search.stopru-animation-enabled .stopru-video-search:after {
        background-image: url("./images/b_lazers.gif");
    }

    .stopru-animation-enabled .stopru-video ytd-thumbnail:after, .stopru-page-search.stopru-animation-enabled .stopru-video-search ytd-thumbnail:after {
        background-image: url("./images/fire.gif");
    }
}
